.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
  width: 90%;
  margin-top: 10rem;
}
.connect-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 0.1;
}
.connect-box {
  flex: 0.2;
  border-radius: 25px;
  background-color: rgba(126, 147, 214, 0.9);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  flex-direction: column;
}
.longer {
  flex: 0.4;
  background: linear-gradient(
    180deg,
    rgba(16, 6, 41, 1) 39%,
    rgba(93, 161, 198, 1) 100%
  );
}
.longer-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.claim {
  font-size: 1.4rem;
  color: white;
  width: 30%;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem 0rem;
  background-image: linear-gradient(to top, #ff9543, #ffaa47);
  margin-left: 40px;
}
.connect-box p:first-of-type {
  color: white;
  font-size: 2.5rem;
}
.connect-box p:last-of-type {
  color: white;
  font-size: 1rem;
}
.logo-connect {
  max-width: 7%;
  object-fit: contain;
}
.longer-top p {
  font-size: 2.5rem !important;
}
.connect-bottom {
  width: 100%;
  background: linear-gradient(
    360deg,
    rgba(16, 6, 41, 1) 39%,
    rgba(93, 161, 198, 1) 100%
  );
  flex: 0.9;
  display: grid;
  place-items: center;
  border-radius: 25px;
}
.wallet {
  background-color: #01ffff;
  color: #2c86b5;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem 0rem;
  padding: 13px 25px;
}
@media screen and (max-width: 1458px) {
  .connect-box p:first-of-type {
    color: white;
    font-size: 2rem;
  }
  .connect-box p:last-of-type {
    color: white;
    font-size: 0.8rem;
  }
  .longer-top p {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 1141px) {
  .connect-box {
    flex: 1;
  }
  .longer {
    flex: 1;
  }
  .logo-connect {
    max-width: 14%;
  }
  .claim {
    width: 50%;
    margin-left: 20px;
  }
}
@media screen and (max-width: 900px) {
  .connect-top {
    flex-direction: column;
    width: 100%;
  }
  .connect-box {
    width: 70%;
    flex: none;
    height: 250px;
  }
  .connect-bottom {
    min-height: 60vh;
    margin-top: 50px;
    border-radius: 25px;
  }
}
@media screen and (max-width: 490px) {
  .connect-box {
    width: 100%;
    flex: none;
    height: 250px;
  }
}
