.home,
.connection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  width: 100%;
}
.connection {
  margin-top: 10rem;
}
