.metaBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 60%;
  min-height: 40vh;
  background-color: rgba(126, 147, 214, 0.9);
  border-radius: 25px;
  margin-bottom: 20px;
}
.meta-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 20px;
}
.meta-top h1 {
  font-size: 2.5rem;
}
.meta-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 770px) {
  .metaBox {
    width: 90%;
  }
}
